<article class="card position-relative d-flex flex-column min-width-0 border border-light-dark rounded p-1">
  <div class="alert alert-danger d-flex justify-content-center align-items-center" role="alert">
    {{customerFullName}}'s order with ID {{orderId}} has been deleted.
  </div>
  <hr class="mt-4">
  <a class=" btn btn-success mx-4 text-decoration-none " href="/admin">Back To Main</a>
</article>