<div class="alert alert-primary d-flex align-items-center justify-content-center" role="alert">
  Product is in the customer's order. Can't delete at the moment. - <a href="/admin" class="alert-link">  Back to main page !</a>.
</div>