.outline {
  border: 1px black solid;
  border-radius: 1rem;
}
.cart{
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media(max-width:767px){
  .cart{
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
  }
}
.summary{
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}
@media(max-width:767px){
  .summary{
  border-top-right-radius: unset;
  border-bottom-left-radius: 1rem;
  }
}

/* ----------- Order View*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  background-color: #eeeeee;font-family: 'Open Sans',serif
}

.card{
  display: -webkit-box;display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  word-wrap: break-word;background-color: #fff;
  .card-header:first-child{
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
  }
}
  .card-header{
    background-color: #fff;
  }
  .track{
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    margin-top: -18px;
  }
    .track .step.active:before{
      background: hsl(114, 91%, 21%)
    }
    .track .step::before{
      height: 7px;
      position: absolute;
      content: "";
      width: 100%;
      left: 0;top: 18px
    }
    .track .step.active .icon{
      background: hsl(114, 91%, 21%);
      color: #fff
    }
    .track .icon{
      width: 40px;
      height: 40px;
    }
    .track .step.active .text{
      font-weight: 400;color: #000
    }
    .itemside{
      display: -webkit-box;
      display: -ms-flexbox;
      width: 100%
    }
    .itemside .aside{
      -ms-flex-negative: 0;
    }
    .img-sm{
      width: 80px;
      height: 80px;
      padding: 7px
    }
    ul.row, ul.row-sm{
      list-style: none;
      padding: 0
    }
    .itemside .info{
      padding-left: 15px;
      padding-right: 7px
    }
    .itemside .title{
      margin-bottom: 5px;
      color: #212529
    }
    p{
      margin-top: 0;
      margin-bottom: 1rem
    }
  